@keyframes slideIn {
  from {
    transform: translate(-50%, calc(-100% - 1em));
  }
  to {
    transform: translate(-50%, 0);
  }
}

.ScriptlessSnackbar {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  top: 1em;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 5px;
  width: 20em;
  max-width: 90vw;
  opacity: 1;
  animation: 0.15s slideIn 1.5s backwards;
  transition: transform 0.15s, opacity 0.15s;
  background: white;
  .body {
    padding-top: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: left;
  }
  .actions {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    padding: 0.25em 0.5em;
    .action_label {
      cursor: pointer;
      user-select: none;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      padding: 0.25em 0.5em;
      background-color: transparent;
      border-radius: 5px;
      text-shadow: 0 0 2px transparent;
      transition: background-color 0.15s, text-shadow 0.15s;
      &:hover {
        background-color: rgba(0, 0, 0, 0.25);
      }
      &:active {
        color: white;
        text-shadow: 0 0 2px black;
        background-color: rgba(0, 0, 0, 0.75);
      }
    }
  }
}
.action_input {
  position: fixed;
  top: -100vh;
  visibility: visible;
  &:checked ~ .ScriptlessSnackbar {
    transform: translate(-50%, calc(-100% - 1em));
    opacity: 0;
  }
  &:focus ~ .ScriptlessSnackbar .action_label {
    outline: solid gold;
  }
} 