@font-face {
    font-family: 'vcr';
    src: url('/styles/fonts/VCR_OSD_MONO_1.001.ttf');
}

@font-face {
    font-family: 'tondu';
    src: url('/styles/fonts/Tondu_Beta.ttf');
}

@font-face {
    font-family: 'augsburg';
    src: url('/styles/fonts/Augsburg.ttf');
}

html, body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin: 0;
    overflow: hidden;
    height: 100%;
    background: black;

    -webkit-font-smoothing: subpixel-antialiased;
}

body {
    transform: translateZ(0px); /* Fix paint issues in Edge && Safari H/W acceleration */
}

:root {
    --hero-height: 33vh;
    --footer-height: 50vh;

    --readable: 55rem;
    --readable-extended: 85rem;

    --about--char-size: 20em;
}

.feather {
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.feather--tapable {
    width: 2rem;
    height: 2rem;
}

.feather--big {
    width: 3rem;
    height: 3rem;
}

.feather--readable {
    width: 1.25rem;
    height: 1.25rem;
}

.parallax {
    position: absolute;
    width: 100%;
    height: var(--actual-view-height, 100vh);
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 300px;
    scroll-behavior: smooth;
}

.modal:target {
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: rgba(0,0,0,0.8);
}

.modal:target .email {
    display: unset;
}

.email {
    display: none;

    position: fixed;
    z-index: 5;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

    width: 100vw;
    height: auto;
    max-width: 32em;

    background-color: black;
    color: white;
    border: 0.25em solid white;
    box-sizing: border-box;
    overflow-y: auto;
}

.email__header {
    display: flex;
    justify-content: space-between;

    margin: 1em;
}

.email__exit {
    color: white;
}

.email__heading {
    font-size: 3em;
    margin: 0;
}

.email__inner {
    display: flex;
    flex-direction: column;

    padding-top: 0; 
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 3em;
}

.email__address {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 2em;

    margin-top: 1em;
    margin-bottom: 1em;
}

.email__address__inner{
    font-family: monospace;
    font-size: 1em;

    display: inline;
    text-align: center;
    vertical-align: middle;

    cursor: text;
    color: inherit;
    background: inherit;
    border: inherit;
    resize: none;
    word-wrap: break-word;
}

.email__mailto::before {
    content: ' ';
}

.email__mailto:link, .email__mailto:visited, .email__mailto:hover, .email__mailto:active {
    color: inherit;
}

.email__pgp-key {
    font-family: monospace;
    cursor: text;
    color: inherit;
    background: inherit;
    border: inherit;
    resize: none;

    display: block;
    width: max-content;
    max-width: 100%;
    height: 15em;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: pre;
}

.parallax > * {
    margin: 0;
    padding: 0;
    transition: transform 0.5s ease;
}

.debug > * {
    transform: translate3d(700px, 0, -800px) rotateY(30deg) !important;
}

.debug .parallax__layer--fore {
    transform: translateZ(90px) scale(1.25);
}

.debug .parallax__layer--back {
    transform: translateZ(-300px) scale(1.25);
}

.debug .parallax__layer--deep {
    transform: translateZ(-600px) scale(1.5);
}

.debug .parallax__layer--deeper {
    transform: translateZ(-900px) scale(1.75);
}

.debug .parallax__layer--deepest {
    transform: translateZ(-1200px) scale(2);
}

/* ensure slides overlay correctly */
.parallax > .parallax__group:nth-of-type(odd) {
    z-index: 0;
}
.parallax > .parallax__group:nth-child(even) {
    z-index: 1;
}

.parallax__group {
    position: relative;
    transform-style: preserve-3d;

    width: 100%;
    min-height: 100vh;
    pointer-events: none;
}

.parallax__layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    backface-visibility: hidden;
    pointer-events: auto;
}

/* scale = 1 + (translateZ * -1) / perspective */
.parallax__layer--base {
    transform: translateZ(0);
    z-index: 0;
}

.parallax__layer--fore {
    transform: translateZ(90px) scale(.7);
    z-index: 1;
}

.parallax__layer--back {
    transform: translateZ(-300px) scale(2);
    z-index: -1;
}

.parallax__layer--deep {
    transform: translateZ(-600px) scale(3);
    z-index: -2;
}

.parallax__layer--deeper {
    transform: translateZ(-900px) scale(4);
    z-index: -3;
}

.parallax__layer--deepest {
    transform: translateZ(-1200px) scale(5);
    z-index: -4;
}

.header {
    /* Transforms on sticky elements cause jittering */
    position: sticky;
    top: calc(var(--hero-height) * -1 - 1px);
    z-index: 10;

    height: var(--hero-height);

    font-family: 'vcr', monospace;
    color: black;

    border-bottom: solid 0.25em white;
}

.header__hero {
    display: block;
    position: relative;
    overflow: hidden;
    background: #000;
    /* background: repeating-linear-gradient(
        -55deg,
        #222,
        #222 10px,
        #333 10px,
        #333 20px
    ); */
    
    width: 100%;
    height: 100%;

    filter: brightness(100%);

    contain: strict;
}

.header__hero::after {
    content: "";
    animation: grain 8s steps(10) infinite;
    background-image: url("/static/grain.png");
    height: 300%;
    width: 300%;
    opacity: 0.2;
    position: fixed;
    top: -110%;
    left: -50%;
    z-index: 0;
}

@keyframes grain {
    0%, 100% { transform:translate(0, 0) }
    10% { transform:translate(-5%, -10%) }
    20% { transform:translate(-15%, 5%) }
    30% { transform:translate(7%, -25%) }
    40% { transform:translate(-5%, 25%) }
    50% { transform:translate(-15%, 10%) }
    60% { transform:translate(15%, 0%) }
    70% { transform:translate(0%, 15%) }
    80% { transform:translate(3%, 35%) }
    90% { transform:translate(-10%, 10%) }
}

.header__hero:hover, .header__hero:focus {
    filter: brightness(50%);
}

.hero__info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    margin: auto;
    width: 100%;
    max-width: var(--readable-extended);

    color: white;

    opacity: 0.95;
    text-shadow: 
        0.5em 0 rgba(255, 0, 0, 0.2),
        -0.25em 0 rgba(0, 0, 255, 0.4);
}

.header__hover {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);
    color: white;
}

.header__hero:hover .header__hover, .header__hero:focus .header__hover {
    display: block;
}

.hero__title::before {
    content: 'Now Playing >';
    font-size: 2em;
    display: block;
    width: max-content;
    background: white;
    color: black;
    text-shadow: none;

}

.hero__title::after {
    content: '--';
}

.hero__title {
    margin: 0;
    font-size: 1.75em;
}

.hero__description {
    margin: 0;
    max-width: 30em;
    font-size: 1.25em;
}

.hero__visual {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    height: 100%;
    pointer-events: none;
}

.header__tab {
    background: black;

    position: absolute;
    top: var(--hero-height);
    left: 0;

    padding: 0.5em 1em ;

    border-right: solid 0.25em white;
    border-bottom: solid 0.25em white;
}

.header__title:link, .header__title:visited, .header__title:hover, .header__title:active {
    color: white;
    font-family: 'tondu', Arial, sans-serif;
    font-size: 2em;
    text-decoration: none;
}

.about__title-box {
    isolation: isolate;

    top: 10%;
    opacity: 0.9;
    height: 10%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    animation: fly-in-top 0.55s cubic-bezier(0,1,0,1) forwards;
}

@keyframes fly-in-top {
    from { top: -100%; }
    to { top: 10%; }
}

.about__title {
    position: absolute;
    --top: 45%;
    --left: 50%;
    transform: translate(-50%, -50%);

    max-width: 100%;
    height: 100%;
    margin: 0;

    font-family: 'augsburg', monospace;
    font-weight: 900;
    will-change: mix-blend-mode, transform;
    mix-blend-mode: screen;
}

.about__title:nth-child(1) {
    top: calc(var(--top) - 2px);
    left: calc(var(--left) - 2px);
    transform: translate(calc(-50% + -100vw));
    animation: fly-in-left 3s cubic-bezier(0,1,0,1) 0.55s forwards, shake 0.16s infinite;
    animation-delay: 0.55s;
}

.about__title:nth-child(2) {
    top: calc(var(--top) + 2px);
    left: calc(var(--left) + 2px);
    transform: translate(calc(-50% + 100vw));
    animation: fly-in-right 3s cubic-bezier(0,1,0,1) 0.55s forwards;
}

@keyframes fly-in-left {
    from { transform: translate(calc(-50% + -100vw), -50%) }
    to { transform: translate(-50%, -50%) }
}

@keyframes fly-in-right {
    from { transform: translate(calc(-50% + 100vw), -50%) }
    to { transform: translate(-50%, -50%) }
}

.about__content {
    position: absolute;
    top: 75%; /* So at least a little bit shows up when scrolled to top */
    left: 50%;
    transform: translate(-50%, -50%);

    width: 80%;
    max-width: var(--readable);
    max-height: 40%;
    overflow-y: auto;

    color: white;
    background: black;
    padding: 1em;
    border: solid white 0.25em;

    font-family: 'vcr', monospace;
    font-size: 1.25em;
    line-height: 2em;
}

.text__hype {
    background-image: repeating-linear-gradient(to right, #7FFF00, #FF6A00, #FF0066, #7FFF00, #FF6A00);
    background-size: 500% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow 3s linear infinite;
    font-weight: bold;
}
  
@keyframes rainbow { 
    from{background-position:0% 0;}
    to{background-position:100% 0;}
}

b {
    font-weight: normal;
}

b:nth-child(3n) {
    color: #7FFF00;
}

b:nth-child(3n + 1) {
    color: #FF0066;
}

b:nth-child(3n + 2) {
    color: #FF6A00;
}

.about__char {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: var(--about--char-size);
    height: var(--about--char-size);

    background-image: url('https://thumbs.gfycat.com/ChubbyEcstaticAfricanaugurbuzzard.webp');
    background-size: contain;
    background-repeat: no-repeat;

    animation: fly-in-bottom 3s cubic-bezier(0,1,0,1) 0.55s backwards;
}

@keyframes fly-in-bottom {
    from { top: 150%; }
    to { top: 60%; }
}

.about__skyline {
    position: absolute;
    top: 125%;

    width: 100%;
    height: 33%;
}

.about__clouds-1 {
    background-image:
        url('/static/sky/clouds1.png'),
        linear-gradient(to bottom, transparent, transparent 159px, black 160px);
    background-blend-mode: normal, normal;
    background-size: 1280px 160px, cover;
    background-repeat: repeat-x;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.about__clouds-2 {
    background-image:
        url('/static/sky/clouds2.png'),
        linear-gradient(to bottom, transparent, transparent 159px, black 160px);
    background-size: 1280px 160px, cover;
    background-repeat: repeat-x;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.about__clouds-3 {
    background-image:
        url('/static/sky/clouds1.png'),
        linear-gradient(to bottom, transparent, transparent 159px, black 160px);
    background-size: 1280px 160px, cover;
    background-repeat: repeat-x;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.about__sky {
    width: 100%;
    height: 100%;
    
    /* Modified from https://gradienta.io/faded-sun */
    background:
        radial-gradient(ellipse farthest-side at 76% 77%, rgba(245, 228, 212, 0.25) 4%, rgba(255, 255, 255, 0) calc(4% + 1px)),
        radial-gradient(circle at 76% 40%, #FF6A00 4%, rgba(255, 255, 255, 0) 4.18%),
        linear-gradient(135deg, #FF0066 0%, #1D0029 100%),
        radial-gradient(ellipse at 28% 0%, #0054FF /* Cosmic Latte! Look it up! */ 0%, #3D2B00 100%),
        linear-gradient(180deg, #040507 0%, #000 69%, #040507 70%, #000 100%);
    background-blend-mode: normal, normal, screen, overlay, normal;
}

.work__background {
    padding-top: 160px;
    
    width: 100%;
    height: auto;
    
    background-image:
    url('/static/sky/clouds2.png'),
    linear-gradient(to bottom, transparent 159px, black 160px);
    background-size: 1280px 160px, cover;
    background-repeat: repeat-x;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.work__title-box {
    position: relative;
    top: 160px;
    isolation: isolate;

    opacity: 0.9;
    width: 100%;
    height: 5em;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

.work__title {
    position: absolute;
    --top: 50%;
    --left: 50%;
    transform: translate(-50%, -50%);

    max-width: 100%;
    height: 100%;
    margin: 0;

    font-family: 'augsburg', monospace;
    font-weight: 900;
    will-change: mix-blend-mode, transform;
    mix-blend-mode: screen;
}

.work__title:nth-child(1) {
    top: calc(var(--top) - 2px);
    left: calc(var(--left) - 2px);
}

.work__title:nth-child(2) {
    top: calc(var(--top) + 2px);
    left: calc(var(--left) + 2px);
}

.work__list {
    padding-top: 200px;
    padding-bottom: 10em;

    position: relative;
    max-width: var(--readable-extended);
    margin: auto;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    gap: 2em;
}

.project {
    display: block;
    position: relative;
    height: 15em;

    background: lime;

    background-size: cover;
    background-position: center;
}

.project:hover, .project:focus {
    filter: brightness(50%);
    cursor: pointer;
}

.project__title {
    position: absolute;
    top: 0;
    left: 0;

    padding: 0.5em;

    color: white;
    text-shadow: 0.1em 0.1em black;
    text-align: left;
    font-size: 2em;
    font-family: 'vcr', monospace;
}

.project__description {
    position: absolute;
    bottom: 0;
    right: 0;

    padding: 0.5em;

    width: 100%;

    color: white;
    text-shadow: 0.1em 0.1em black;
    background: rgba(0, 0, 0, 0.5);
    text-align: right;
    font-size: 1.25em;
    font-family: 'vcr', monospace;
}

.footer {
    /* Transforms on sticky elements cause jittering */
    position: sticky;
    bottom: calc(var(--footer-height) * -1 - 1px);
    z-index: 10;

    height: var(--footer-height);

    color: white;

    border-top: solid 0.25em white;
}

.footer__tab {
    background: black;

    position: absolute;
    bottom: var(--footer-height);
    right: 0;

    border-top: solid 0.25em white;
    border-left: solid 0.25em white;
}

.socials--sticky {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1em;
}

.socials--hidden {
    position: absolute;
    top: 1em;
    right: 1em;

    display: flex;
    justify-content: center;
    align-items: center;
}
.socials__item {
    display: flex;
    justify-content: center;
	align-items: center;
    width: 5em;
    height: 100%;

    color: black;
    filter: invert(1);
    text-decoration: unset;
}

.socials__item::after {
    content: '' !important;
}

.footer__content {
    background: black;

    width: 100%;
    height: 100%;

    contain: strict;
}

.legals {
    position: absolute;
    bottom: 1em;
    width: 100%;
    text-align: center;
}

.legals__link:link, .legals__link:active, .legals__link:visited {
    color: white;
}
