:root {
    /* Sizes */
    --width-to-read: 70em;

    /* Nights */
    --key-lime: #edf67dff;
    --orchid-crayola: #f896d8ff;
    --heliotrope: #ca7df9ff;
    --majorelle-blue: #724cf9ff;
    --dark-slate-blue: #564592ff;
    /* Lights */
    --lavender-blush: #f7edf0ff;
    --baby-pink: #f4cbc6ff;
    --melon: #f4afabff;
    --medium-champagne: #f4eea9ff;
    --canary: #f4f482ff;
}

html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;

    display: flex; 
    flex-direction: column; 

    font-family: Tahoma, Geneva, sans-serif;
    background: var(--orchid-crayola);
}

/*
    HELPERS
*/

.nostyle--a:link {
    color: initial;
    text-decoration: none;
}

.nostyle--a:visited {
    color: initial;
}

.nostyle--a:link:active {
    color: initial;
}
	
.nostyle--a:visited:active {
    color: initial;
}

/*
    HEADER
*/

.header {
    width: 100%;
    height: 3em;
    background: var(--lavender-blush);
}

.nav {
    margin: 0 auto 0 auto;

    width: 100%;
    max-width: var(--width-to-read);
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1em;
}

.nav__item {
    display: flex;
    align-items: center;
    justify-content: center;

    color: inherit;
    text-decoration: inherit;
}

/*
    BODY
*/

.main {
    margin: 0 auto 0 auto;
    width: 100%;
    max-width: var(--width-to-read);

    background: var(--lavender-blush);
}

.main--remaining {
    flex-grow : 1;

    margin: 0 auto 0 auto;
    width: 100%;
    max-width: var(--width-to-read);
    background: var(--lavender-blush);
}

/*
    FOOTER
*/

.footer {
    width: 100%;
    background: var(--lavender-blush);
}
.contacts {
    margin: 0 auto 0 auto;
    width: 100%;
    max-width: var(--width-to-read);
}

.socials {
    list-style-type: none;
    margin: 0.5em;
    padding: 0;

    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.socials__item {
    margin: 0 1em;
}

/*
    APPS
*/

/* Activity Retriever */
.feed {

}

.feed__item {

}
