.noscript-fallback {
    display: block !important;
}

.chatter__avatar__canvas {
    background-image: url(/images/character/ecstatic.png);
    background-position: center;
    background-repeat: no-repeat;
}

.chatter__button {
    display: none;
}

.zdog-logo {
    background-image: url(/images/logo.png);
    background-position: center;
    background-repeat: no-repeat;
}

.description__explain__content {
    display: inline;
}